<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bk.dao.ReplyMapper">	
	<select id="Allreply" resultType="reply">
		SELECT *,u.nickname as unickname,u.image as uimage FROM reply r,users u
		WHERE r.ruid=u.uid AND rcid=#{rcid}
	</select>	
</mapper>